@using Research_Repository_Utility;


@model Research_Repository_Models.ViewModels.HomeVM;
<div>
    <input id="homepage-searchbar" />
    <button id="homepage-submit-btn">Search!</button>
</div>

<div>
    @if (Model.Themes != null && Model.Themes.Count() > 0)
    {
        foreach (Theme theme in Model.Themes)
        {
            <button class="homepage-filter" data-type="@WC.ThemeName" data-name="@theme.Name">@theme.Name</button>
        }
    }
</div>

<div>
    @if (Model.Teams != null && Model.Teams.Count() > 0)
    {
        foreach (Team team in Model.Teams)
        {
            <div>
                <h1>@team.Name</h1>
                @if (team.Projects != null && team.Projects.Count() > 0)
                {
                    foreach (Project project in team.Projects)
                    {
                        <button class="homepage-filter" data-type="@WC.ProjectName" data-name="@project.Name">@project.Name</button>
                    }
                }

            </div>
        }
    }
</div>