@using Research_Repository_Utility;

@model IList<Research_Repository_Models.Team>

@{
    IEnumerable<SelectListItem> teamSelectList = TempData.Get<IEnumerable<SelectListItem>>("teamSelectList");
}

<div class="container p-3">
    <form method="post" enctype="multipart/form-data">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Team List</h2>
            </div>
        </div>

        <br /><br />
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Theme" asp-action="Index">Themes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ItemRequest" asp-action="Index">Requests</a>
            </li>
        </ul>

        @if (Model.Count() > 0)
        {

            <table class="table table-bordered table-striped" style="width: 100%">
                <thead>
                    <tr>
                        <th>Team Name</th>
                        <th>Team Projects</th>
                        <th>Buttons</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int y = 0; y < Model.Count; y++)
                    {
                        if (Model[y] != null)
                        {

                            <tr class="team">
                                <td width="50%">
                                    <input class="form-control team-name" asp-for="@Model[y].Name" />
                                    <input asp-for="@Model[y].Id" class="team-id" hidden />
                                </td>
                                <td class="text-center">
                                    <div class="projects-container">
                                        @if (Model[y].Projects.Count != 0 && Model[y].Projects != null)
                                        {
                                            @for (int i = 0; i < Model[y].Projects.Count; i++)
                                            {
                                                <div class="project">
                                                    <button id="@Model[y].Projects[i].Id" onclick="openProjectModal(this)" class="projectModalBtn">@Model[y].Projects[i].Name</button>
                                                    <input asp-for="@Model[y].Projects[i].Name" class="project-name" hidden />
                                                    <input asp-for="@Model[y].Projects[i].Id" class="project-id" hidden />
                                                    <input asp-for="@Model[y].Projects[i].TeamId" class="project-id" hidden />
                                                </div>
                                            }
                                        }

                                    </div>
                                    <div onclick="openAddProjectModal(this)" class="addProjectModalBtn">Add project</div>
                                </td>
                                <td class="text-center">
                                    <div class="w-75 btn-group" role="group">
                                        <button class="btn btn-danger delete-team" asp-action="DeleteTeam" name="deleteId" value="@Model[y].Id">
                                            Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No team exists.</p>
        }
        <input type="submit" class="btn btn-info w-100" name="save" value="Save" asp-action="SaveTeams" />
        <input type="submit" class="btn btn-info w-100" name="add" value="Add" asp-action="AddTeam" />
    </form>
</div>

<div id="myProjectModal" class="modal project-modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="projectModalClose">&times;</span>
        <p>Some text in the Modal..</p>

        <div class="form-group row">
            <div class="col-8 row">
                <input id="project-name-modal-input" class="form-control" />
                <input id="project-id-modal-input" hidden class="form-control" />
                <input id="project-oldTeamId-modal-input" hidden class="form-control" />

                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 row">
                <select id="project-teamId-modal-input" asp-items="@teamSelectList" class="form-control">
                    <option disabled selected value="0">-- Select Tag --</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 row">
                <input type="button" id="project-submit-button" class="btn btn-info w-100 project-modal-btn" value="Update" />
                <input type="button" id="project-delete-button" class="btn btn-info w-100 project-modal-btn" value="Delete" />
            </div>
        </div>
    </div>
</div>

