@using Research_Repository_Utility;

@model Research_Repository_Models.ViewModels.TeamVM

@{
    IEnumerable<SelectListItem> teamSelectList = TempData.Get<IEnumerable<SelectListItem>>(WC.TempDataTeamSelectList);
}

<form class="grid grid--sidebar">
    <!-- Sidebar -->
    <div class="grid-column-sidebar sidebar-nav">
        <a id="item-request-nav-link" asp-controller="ItemRequest" class="sidebar-nav__nav-link">
            Requests<span id="item-request-count" class="notification-bubble notification-bubble--hidden notification-bubble__side-nav-notification"></span>
        </a>
        <a id="team-nav-link" asp-controller="Team" class="sidebar-nav__nav-link">Teams and projects</a>
        <a id="theme-nav-link" asp-controller="Theme" class="sidebar-nav__nav-link">Themes and tags</a>
        <a id="create-librarian-nav-link" asp-area="Identity" asp-page="/Account/Register" class="sidebar-nav__nav-link">Create a new librarian</a>
        <button id="reindex-solr-button" class="button button--red button--small align--center" type="submit">Reindex Solr</button>
    </div>

    <!-- grid-column-main -->
    <div class="grid-column-main--with-sidebar">
        <h2 class="margin-bottom--medium">Teams and projects</h2>
        <button id="open-add-team-modal-button" class="button button--yellow margin-bottom--medium">
            Add/Edit teams
        </button>

        @if (Model.Teams.Count > 0)
        {
            <!-- Complex accordion -->
            <div class="accordion-list margin-bottom--medium">
                @for (int y = 0; y < Model.Teams.Count; y++)
                {
                    if (Model.Teams[y] != null)
                    {
                        <div class="accordion__container accordion__container--complex team">
                            <div class="accordion accordion__button accordion__button--complex"
                                 tabindex="0"
                                 role="button">
                                <input class="form-control team-name-input hidden" asp-for="@Model.Teams[y].Name" />
                                <input class="form-control team-contact-input hidden" asp-for="@Model.Teams[y].Contact" />
                                <input asp-for="@Model.Teams[y].Id" class="team-id" hidden />
                                <button class="button--icon button--icon-delete open-delete-team-modal-btn" value="@Model.Teams[y].Id">
                                    <img src="images/svgs/cross.svg" alt="delete_team" />
                                </button>
                                <h4 class="accordion__title team-name-text">@Model.Teams[y].Name</h4>
                                <button class="button--icon button--icon-edit" onclick="openEditTeamModal(this)">
                                    <img src="images/svgs/pencil.svg" alt="edit_team_name" />
                                </button>
                            </div>
                            <div class="accordion__content--complex accordion__content">
                                <ul>
                                    @if (Model.Teams[y].Projects.Count != 0 && Model.Teams[y].Projects != null)
                                    {

                                        @for (int i = 0; i < Model.Teams[y].Projects.Count; i++)
                                        {
                                            <li class="project">
                                                <button id="@Model.Teams[y].Projects[i].Id" onclick="openProjectModal(this)" class="projectModalBtn link">@Model.Teams[y].Projects[i].Name</button>
                                                <input asp-for="@Model.Teams[y].Projects[i].Name" class="project-name-input" hidden />
                                                <input asp-for="@Model.Teams[y].Projects[i].Id" class="project-id" hidden />
                                                <input asp-for="@Model.Teams[y].Projects[i].TeamId" class="project-id" hidden />
                                            </li>
                                        }

                                    }
                                    <li><button onclick="openAddProjectModal(this)" class="addProjectModalBtn button button--small button--secondary">Add project</button></li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            </div>
            <input type="submit" id="save-teams-btn" class="button margin-bottom--medium" name="save" value="Save" />
        }
        else
        {
            <div class="no-items"><p>No teams exist</p></div>
        }
    </div>
</form>

@*Delete team modal*@
<div id="deleteTeamModal" class="modal-container delete-team-modal hidden">
    <div class="modal">

        @*Image*@
        <div class="modal__image-contianer">
            <img class="modal__image"
                 src="images/svgs/caution.svg"
                 alt="celebration_image" />
        </div>

        @*Description*@
        <p class="margin-bottom--medium">Are you sure you want to delete this team. All projects under this team will be deleted. All items assigned this team or subsequent projects will be unnasigned.</p>

        @*Buttons*@
        <div class="button-group button-group--small align-right margin-top--medium">
            <div class="button-group__item">
                <button id="close-delete-team-modal-button" class="link">Cancel</button>
            </div>
            <div class="button-group__item">
                <button type="submit" id="delete-team-confirm-btn" class="button button--small button--red">
                    Delete
                </button>
            </div>
        </div>

    </div>
</div>


@*Upsert team modal*@
<div id="teamModal" class="add-team-modal modal-container hidden">
    <div class="modal">
        <h4 class="modal__title">Team</h4>

        @*New team name input field*@
    <div class="field">
        <label for="selected-team-name"
               class="field__label field__label--secondary text--pale-grey">Team name:</label>
        <input type="text" name="selected-team-name" id="selected-team-name-input" class="field__input field__input--secondary" asp-for="SelectedTeamName" />
        <p id="selected-team-name-error-text" class="field__error-text hidden">This field cannot be empty</p>
    </div>

        @*New team contact input field*@
        <div class="field">
            <label for="selected-team-contact"
                   class="field__label field__label--secondary text--pale-grey">Team contact:</label>
            <input type="text" name="selected-team-contact" id="selected-team-contact-input" asp-for="SelectedTeamContact" class="field__input field__input--secondary" />
        </div>

        @*Buttons*@
        <div class="button-group button-group--small align-right margin-top--medium">
            <div class="button-group__item">
                <button id="close-add-team-modal-button" class="link">Cancel</button>
            </div>
            <div class="button-group__item hidden" id="add-team-submit-button-container">
                <input type="submit" id="add-team-submit-button" class="button button--small" name="add" value="Add" />
            </div>
            <div class="button-group__item hidden" id="edit-team-submit-button-container">
                <input type="submit" id="edit-team-submit-button" class="button button--small" name="edit" value="Save" />
            </div>
        </div>

    </div>
</div>

<!-- Project modal -->
<div id="myProjectModal" class="modal-container project-modal hidden">
    <div class="modal">
        <h4 class="modal__title">Project</h4>

        @*Project inputs*@
    <div class="field">
        <label for="selected-project-name"
               class="field__label field__label--secondary text--pale-grey">Project:</label>
        <input type="text" name="selected-project-name" id="project-name-modal-input" class="field__input field__input--secondary" />
        <p id="selected-project-name-error-text" class="field__error-text hidden">This field cannot be empty</p>
        <input id="project-id-modal-input" hidden />
        <input id="project-oldTeamId-modal-input" hidden />
    </div>

        @*Team select list*@
        <div class="field">
            <label class="field__label field__label--secondary text--pale-grey" for="team-accordion-select">Team:</label>
            <div id="team-selector" class="accordion__container accordion__container--select-list">
                <input id="project-teamId-modal-input" class="select-list-input" name="team-accordion-select" value="" hidden />
                <button class="
                  field__input field__input--secondary field__input--small
            accordion accordion__button accordion accordion__button--select-list" id="project-teamId-modal-selectList" onclick="selectListButtonClick()" data-selected="">
                </button>

                <div class="accordion__content accordion__content--select-list">
                    @foreach (SelectListItem selectListItem in teamSelectList)
                    {
                        <button onclick="selectListOptionClick(this)"
                                class="accordion__content-option"
                                data-value="@selectListItem.Value">
                            @selectListItem.Text
                        </button>
                    }
                </div>
            </div>

        </div>

        @*Buttons*@
        <div class="button-group button-group--small align-right margin-top--medium">
            <div class="button-group__item">
                <button id="close-add-project-modal-button" class="link">Cancel</button>
            </div>
            <div class="button-group__item">
                <input type="button" id="project-submit-button" class="button button--small project-modal-btn" value="Update" />
            </div>
            <div class="button-group__item">
                <button type="button" id="open-project-delete-modal-btn" class="button button--small button--red">Delete</button>
            </div>
        </div>
    </div>
</div>

@*Delete team modal*@
<div id="deleteProjectModal" class="modal-container delete-project-modal hidden">
    <div class="modal">

        @*Image*@
        <div class="modal__image-contianer">
            <img class="modal__image"
                 src="images/svgs/caution.svg"
                 alt="caution_image" />
        </div>

        @*Description*@
        <p class="margin-bottom--medium">Are you sure you want to delete this team. All projects under this team will be deleted. All items assigned this team or subsequent projects will be unnasigned.</p>

        @*Buttons*@
        <div class="button-group button-group--small align-right margin-top--medium">
            <div class="button-group__item">
                <button id="close-delete-project-modal-button" class="link">Cancel</button>
            </div>
            <div class="button-group__item">
                <input type="button" id="project-delete-button" class="button button--small button--red project-modal-btn" value="Delete" />
            </div>
        </div>

    </div>
</div>