@page
@model LoginModel

<h1>@ViewData["Title"]</h1>
<!-- grid-column-main -->
<div class="grid">
    <form asp-route-returnUrl="@Model.ReturnUrl" class="form grid-column-main" method="post">
            <h1 class="margin-bottom--large">Login</h1>
            <div class="field">
                <label asp-for="Input.Email" class="field__label">Email address:</label>
                <input type="text"
                       asp-for="Input.Email"
                       class="field__input"
                       value="" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="field">
                <label asp-for="Input.Password" class="field__label">Password:</label>
                <input 
                       asp-for="Input.Password"
                       class="field__input"
                       value="" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="button-group margin-bottom--medium">
                <div class="field__list-item field__list-item--large">
                    
                    <label asp-for="Input.RememberMe"
                           class="field__label field__label--toggle field__label--checkbox"
                           tabindex="0"
                           role="button">
                        <input type="checkbox"
                               asp-for="Input.RememberMe"
                               class="field__input-toggle field__input-checkbox" />
                        Remember me
                    </label>
                </div>

                <a class="link link--red align-right" id="forgot-password" asp-page="./ForgotPassword">Forgot Password?</a>
            </div>

            <div class="button-group margin-bottom--medium">
                <button type="submit" class="button">Login</button>
            </div>

            <div class="button-group button-group--vertical margin-bottom--medium">
                <h4>Don't have an account?</h4>
                <a class="link link--green" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account to contribute</a>
            </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@*
    Default login html
    <div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@


