@page
@model RegisterModel
@using Research_Repository_Utility;

    @{
        IEnumerable<SelectListItem> teamSelectList = TempData.Get<IEnumerable<SelectListItem>>(WC.TempDataTeamSelectList);
    }

<div class="grid">
    <form asp-route-returnUrl="@Model.ReturnUrl" class="form grid-column-main" method="post">
        @if (User.IsInRole(WC.LibrarianRole))
        {
            <h1 class="margin-bottom--large">Register an admin account</h1>
        }
        else
        {
            <h1 class="margin-bottom--large">Register</h1>
        }

        <div class="field">
            <label asp-for="Input.FirstName" class="field__label">First Name</label>
            <input type="text"
                   asp-for="Input.FirstName"
                   class="field__input"
                   value="" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="field">
            <label asp-for="Input.LastName" class="field__label">Last Name</label>
            <input type="text"
                   asp-for="Input.LastName"
                   class="field__input"
                   value="" />
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>

        <div class="field">
            <label asp-for="Input.Email" class="field__label">E-mail address</label>
            <input type="text"
                   asp-for="Input.Email"
                   class="field__input"
                   value="" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        @if (teamSelectList != null && teamSelectList.Count() > 0)
        {
            <div class="field">
                <label asp-for="Input.TeamId"
                       class="field__label">Team</label>
                <div id="user-team-input" class="accordion__container accordion__container--select-list">
                    <input id="selected-team-id" asp-for="Input.TeamId" value="" hidden />
                    <button class="
                  field__input
            accordion accordion__button accordion accordion__button--select-list" onclick="selectListButtonClick()" data-selected=""></button>

                    <div class="accordion__content accordion__content--select-list">
                        @foreach (SelectListItem selectListItem in teamSelectList)
                        {
                            <button onclick="selectListOptionClick(this)"
                                    class="accordion__content-option"
                                    data-value="@selectListItem.Value">
                                @selectListItem.Text
                            </button>
                        }


                    </div>
                </div>
            </div>
        }


        <div class="field">
            <label asp-for="Input.Password" class="field__label">Password</label>
            <input asp-for="Input.Password"
                   class="field__input"
                   value="" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="field">
            <label asp-for="Input.ConfirmPassword" class="field__label">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword"
                   class="field__input"
                   value="" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="button-group">
            @if (User.IsInRole(WC.LibrarianRole))
            {


                <button type="submit" class="button">Register new librarian</button>
            }
            else
            {
                <button type="submit" class="button">Register</button>
            }
        </div>

        <div class="button-group button-group--vertical margin-bottom--large">
            <h4>Already have an account?</h4>
            <a class="link link--green" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*
        Default register html
        <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                @if (User.IsInRole(WC.LibrarianRole))
                {
                    <button type="submit" class="btn btn-warning">Register new librarian</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Register</button>

                }

            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@
