@using Research_Repository_Utility;
@model Research_Repository_Models.ViewModels.ItemVM

@{
    var title = "Create Item";

    IList<string> fileNames = new List<string>();
    if (Model.Item.Files != null)
    {

        fileNames = Model.Item.Files.Split(",").ToList();

        //Remove empty space from array
        fileNames.RemoveAt(fileNames.Count - 1);
    }

    string tempFilesFolderPath = $@"/Item/GetDownloadedFile/?filePath={WC.ItemFilePath}temp\";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Item.Id != 0)
    {
        title = "Edit Item";
        <input asp-for="Item.Id" hidden />
    }

    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-12">


                <!-- Team -->
                <div class="form-group row">
                    <div class="col-12">
                        <select id="team-selector" asp-for="TeamId" asp-items="@Model.TeamSelectList" class="form-control">
                            <option disabled selected>-- Select Team --</option>
                        </select>
                    </div>
                </div>
                <button onclick="showField(this, 'collaborator-input')" id="add-collaborator-button">Add collaborator</button>
                <button onclick="showField(this, 'suggested-team-input')" id="add-team-button">Add team</button>

                <!-- Collaborator -->
                <div class="form-group row" style="display:none;" id="collaborator-input">
                    <div class="col-12">
                        <label asp-for="Item.Collaborator"></label>
                    </div>

                    <div class="col-10">
                        <input asp-for="Item.Collaborator" class="form-control" />
                    </div>
                    <div class="col-2"><button onclick="hideField('collaborator-input', 'add-collaborator-button')">Delete</button></div>
                </div>

                <!-- Suggested Team -->
                <div class="form-group row" style="display:none;" id="suggested-team-input">
                    <div class="col-12">
                        <label asp-for="Item.SuggestedTeam"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Item.SuggestedTeam" class="form-control" />
                        <div class="col-2"><button onclick="hideField('suggested-team-input', 'add-team-button')">Delete</button></div>
                    </div>
                </div>

                <!-- Project -->
                <div class="form-group row">
                    <div class="col-12">
                        <select id="project-selector" asp-for="Item.ProjectId" asp-items="@Model.ProjectSelectList" class="form-control">
                            <option disabled selected>-- Select Project --</option>
                        </select>
                    </div>
                </div>
                <button onclick="showField(this, 'suggested-project-input')" id="add-project-button">Add project</button>

                <!-- Suggested Project -->
                <div class="form-group row" style="display:none;" id="suggested-project-input">
                    <div class="col-12">
                        <label asp-for="Item.SuggestedProject"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Item.SuggestedProject" class="form-control" />
                    </div>
                    <div class="col-2"><button onclick="hideField('suggested-project-input', 'add-project-button')">Delete</button></div>
                </div>

                <!-- Theme -->
                <div class="form-group row">
                    <div class="col-12">
                        <select id="theme-selector" asp-for="Item.ThemeId" asp-items="@Model.ThemeSelectList" class="form-control">
                            <option disabled selected>-- Select Theme --</option>
                        </select>
                    </div>
                </div>
                <button onclick="showField(this, 'suggested-theme-input')" id="add-theme-button">Add theme</button>

                <!-- Suggested Theme -->
                <div class="form-group row" style="display:none;" id="suggested-theme-input">
                    <div class="col-12">
                        <label asp-for="Item.SuggestedTheme"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Item.SuggestedTheme" class="form-control" />
                    </div>
                    <div class="col-2">
                        <button onclick="hideField('suggested-theme-input', 'add-theme-button')">Delete</button>
                    </div>
                </div>

                <!-- Tags -->
                <div class="form-group row">
                    <div class="col-12">
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes()">
                                <select>
                                    <option>Select an option</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxes">
                                @for (int i = 0; i < Model.TagList.Count; i++)
                                {
                                    <label>
                                        <input asp-for="@Model.TagList[i].CheckedState" id="tag-input-id-@Model.TagList[i].Value" />@Model.TagList[i].Name
                                    </label>
                                    <input asp-for="@Model.TagList[i].Value" id="tag-id-@Model.TagList[i].Value" hidden />
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="suggested-tags">
                    @if (Model.SuggestedTagList != null && Model.SuggestedTagList.Count > 0)
                    {
                        @for (int i = 0; i < Model.SuggestedTagList.Count(); i++)
                        {
                            <!-- Suggested Tags -->
                            <div class="suggested-tag-field row">
                                <div class="col-12">
                                    <label asp-for="SuggestedTagList[i]"></label>
                                </div>
                                <div class="col-10">
                                    <input asp-for="SuggestedTagList[i]" class="form-control" />
                                </div>
                                <div class="col-2"><button onclick="removeField(this, 'suggestedTag')">Delete</button></div>
                            </div>
                        }
                    }
                    <button onclick="addSuggestedTagField(this)" id="add-suggested-tag-button">Suggest a tag</button>
                </div>


                <!-- Title -->
                <div class="form-group row">
                    <div class="col-12">
                        <label asp-for="Item.Title"></label>
                    </div>
                    <div class="col-12">
                        <input asp-for="Item.Title" class="form-control" />
                    </div>
                </div>

                <!-- Abstract -->
                <div class="form-group row">
                    <div class="col-12">
                        <label asp-for="Item.Abstract"></label>
                    </div>
                    <div class="col-12">
                        <input asp-for="Item.Abstract" class="form-control" />
                    </div>
                </div>

                <!-- Key Insights -->
                <div class="form-group" id="key-insights">
                    @if (Model.KeyInsightsList != null && Model.KeyInsightsList.Count > 0)
                    {
                        @for (int i = 0; i < Model.KeyInsightsList.Count(); i++)
                        {
                            <div class="key-insight-field row">
                                <div class="col-12">
                                    <label asp-for="KeyInsightsList[i]"></label>
                                </div>
                                <div class="col-10">
                                    <input asp-for="KeyInsightsList[i]" class="form-control" />
                                </div>
                            </div>
                            <div class="col-2"><button onclick="removeField(this, 'keyInsight')">Delete</button></div>
                        }
                    }
                    <button onclick="addKeyInsightField(this)">Add a key insight</button>
                </div>

                <!-- Key Methodology -->
                <div class="form-group row">
                    <div class="col-12">
                        <label asp-for="Item.Methodology"></label>
                    </div>
                    <div class="col-12">
                        <input asp-for="Item.Methodology" class="form-control" />
                    </div>
                </div>

                <!-- Key Limitations -->
                <div class="form-group row">
                    <div class="col-12">
                        <label asp-for="Item.Limitations"></label>
                    </div>
                    <div class="col-12">
                        <input asp-for="Item.Limitations" class="form-control" />
                    </div>
                </div>

                <!-- Start Date -->
                <div class="form-group">
                    <label asp-for="Item.StartDate" class="control-label"></label>
                    <input asp-for="Item.StartDate" class="form-control" />
                </div>

                <!-- End Date -->
                <div class="form-group">
                    <label asp-for="Item.EndDate" class="control-label"></label>
                    <input asp-for="Item.EndDate" class="form-control" />
                </div>

                <!-- Approved Use -->
                <div class="form-group">
                    @foreach (var item in Model.ApprovalRadioButtons)
                    {
                        <input asp-for="Item.ApprovedUse" type="radio" value="@item.Name" /> @item.Name
                    }
                </div>

                <div class="form-group">
                    <!-- Sensitivity Use -->
                    @foreach (var item in Model.SensitivityRadioButtons)
                    {
                        <input asp-for="Item.Sensitivity" type="radio" value="@item.Name" /> @item.Name
                    }
                </div>

                <!-- Hidden file names -->
                <input asp-for="Item.Files" id="file-names" />

                <!-- Files -->
                <div class="form-group row">
                    <div class="col-12">
                        <label asp-for="Item.Files"></label>
                    </div>
                    <div class="col-12">
                        <input type="file" name="Item.Files" id="file-upload-box" multiple asp-for="Item.Files" class="form-control" />
                    </div>
                    <div class="col-12" id="files-list">
                        @foreach (string fileName in fileNames)
                        {
                            string downloadLink = tempFilesFolderPath + fileName;
                            <div class="file"><a href=@downloadLink><h2>@fileName</h2></a><button onclick="removeFile(this)">Delete</button><br><br></div>
                        }
                    </div>
                </div>

                <!-- Buttons -->
                <div class="form-group">
                    <div class="col-8 offset-2 row">

                        <div class="col-6">
                            @if (Model.Item.Id != 0)
                            {
                                <input type="submit" class="btn btn-info w-100" value="Update" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-primary w-100" value="Create" />
                            }
                        </div>
                        <div class="col-6">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
