@using Research_Repository_Utility;

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@model Research_Repository_Models.ViewModels.ThemeVM

@{
    IEnumerable<SelectListItem> tagSelectList = TempData.Get<IEnumerable<SelectListItem>>(WC.TempDataTagSelectList);
}


<form class="grid grid--sidebar">
    <!-- Sidebar -->
    <div class="grid-column-sidebar sidebar-nav">
        <a id="item-request-nav-link" asp-controller="ItemRequest" class="sidebar-nav__nav-link">
            Requests<span id="item-request-count" class="notification-bubble notification-bubble--hidden notification-bubble__side-nav-notification"></span>
        </a>
        <a id="team-nav-link" asp-controller="Team" class="sidebar-nav__nav-link">Teams and projects</a>
        <a id="theme-nav-link" asp-controller="Theme" class="sidebar-nav__nav-link">Themes and tags</a>
        <a id="create-librarian-nav-link" asp-area="Identity" asp-page="/Account/Register" class="sidebar-nav__nav-link">Create a new librarian</a>
        <button id="reindex-solr-button" class="button button--red button--small align--center" type="submit">Reindex Solr</button>
    </div>

    <!-- grid-column-main -->
    <div class="grid-column-main--with-sidebar">
        <h2 class="margin-bottom--medium">Themes and tags</h2>
        <div class="button-group button-group--small margin-bottom--medium">
            <div class="button-group__item">
                <button id="open-add-theme-modal-button" class="button button--yellow">
                    Add theme
                </button>
            </div>
            <div class="button-group__item">
                <input type="submit" class="button button--yellow button" id="myTagBtn" name="openModal" value="Add/Edit tags" />
            </div>
        </div>

        @if (Model.ThemeObjects.Count > 0)
        {
            <!-- Complex accordion -->
            <div class="accordion-list margin-bottom--medium">
                @for (int y = 0; y < Model.ThemeObjects.Count; y++)
                {
                    if (Model.ThemeObjects[y] != null)
                    {
                        <div class="accordion__container accordion__container--complex theme">
                            <div class="accordion accordion__button accordion__button--complex"
                                 tabindex="0"
                                 role="button">
                                <input class="form-control theme-name-input hidden" asp-for="@Model.ThemeObjects[y].Theme.Name" />
                                <input class="form-control theme-description-input hidden" asp-for="@Model.ThemeObjects[y].Theme.Description" />
                                <input asp-for="@Model.ThemeObjects[y].Theme.Id" class="theme-id" hidden />
                                <button class="button--icon button--icon-delete open-delete-theme-modal-btn" value="@Model.ThemeObjects[y].Theme.Id">
                                    <img src="/images/svgs/cross.svg" alt="delete_theme" />
                                </button>
                                <h4 class="accordion__title theme-name-text">@Model.ThemeObjects[y].Theme.Name</h4>
                                <button class="button--icon button--icon-edit" onclick="openEditThemeModal(this)">
                                    <img src="/images/svgs/pencil.svg" alt="edit_theme_name" />
                                </button>
                            </div>
                            <div class="accordion__content--complex accordion__content">
                                <div class="field__list-container field__list-container">
                                    @if (Model.ThemeObjects[y].TagCheckboxes != null)
                                    {
                                        @for (int i = 0; i < Model.ThemeObjects[y].TagCheckboxes.Count; i++)
                                        {
                                            <div class="field__list-item tag-checkbox">

                                                <label class="
                        field__label
                        field__label--extra-small
                        field__label--toggle
                        field__label--checkbox
                                                       @(Model.ThemeObjects[y].TagCheckboxes[i].CheckedState ? "field__label--checkbox-checked" : "")
                      "
                                                       tabindex="0"
                                                       role="button">
                                                    <input asp-for="@Model.ThemeObjects[y].TagCheckboxes[i].CheckedState" data-name="@Model.ThemeObjects[y].TagCheckboxes[i].Name"
                                                           class="field__input-toggle field__input-checkbox tag-checkbox-state" />
                                                    @Model.ThemeObjects[y].TagCheckboxes[i].Name
                                                </label>
                                                <input class="tag-checkbox-id" asp-for="@Model.ThemeObjects[y].TagCheckboxes[i].Value" hidden />
                                                <input class="tag-checkbox-name" asp-for="@Model.ThemeObjects[y].TagCheckboxes[i].Name" hidden />
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <div class="no-items"><p>No themes exist</p></div>
        }
        <input type="submit" class="button margin-bottom--medium" name="save" value="Save" id="save-themes-button" />
    </div>
</form>


@*Delete theme modal*@
<div id="deleteThemeModal" class="modal-container delete-theme-modal hidden">
    <div class="modal">

        @*Image*@
        <div class="modal__image-contianer">
            <img class="modal__image"
                 src="/images/svgs/caution.svg"
                 alt="celebration_image" />
        </div>

        @*Description*@
        <p class="margin-bottom--medium">Are you sure you want to delete this theme. All items assigned this theme will be unnasigned.</p>

        @*Buttons*@
        <div class="button-group button-group--small align-right margin-top--medium">
            <div class="button-group__item">
                <button id="close-delete-theme-modal-button" class="link">Cancel</button>
            </div>
            <div class="button-group__item">
                <button id="delete-theme-confirm-btn" class="button button--small button--red" name="deleteId" value="">
                    Delete
                </button>
            </div>
        </div>

    </div>
</div>

<!-- Upsert theme modal -->
<div id="themeModal" class="add-theme-modal modal-container hidden">
    <div class="modal">
        <h4 class="modal__title">Theme</h4>

        @*Theme name input field*@
        <div class="field">
            <label for="selected-theme-name"
                   class="field__label field__label--secondary text--pale-grey">Theme name:</label>
            <input type="text" name="selected-theme-name" id="selected-theme-name-input" class="field__input field__input--secondary" asp-for="SelectedThemeName" />
            <p id="selected-theme-name-error-text" class="field__error-text hidden">This field cannot be empty</p>
        </div>

        @*Theme descritpion input field*@
        <div class="field">
            <label for="selected-theme-name"
                   class="field__label field__label--secondary text--pale-grey">Theme description:</label>
            <textarea type="text" name="selected-theme-name" id="selected-theme-description-input" class="field__input field__input-text-area field__input--secondary" asp-for="SelectedThemeDescription"></textarea>
        </div>

        @*Buttons*@
        <div class="button-group button-group--small align-right margin-top--medium">
            <div class="button-group__item">
                <button id="close-add-theme-modal-button" class="link">Cancel</button>
            </div>
            <div id="add-theme-submit-button-container" class="button-group__item hidden">
                <input type="submit" id="add-theme-submit-button" class="button button--small" value="Add" />
            </div>
            <div id="edit-theme-submit-button-container" class="button-group__item hidden">
                <input type="submit" id="edit-theme-submit-button" class="button button--small" name="edit" value="Save" />
            </div>
        </div>

    </div>
</div>


@*Tag modal*@
<div id="myTagModal" class="modal-container tag-modal hidden">
    <div class="modal">
        <h4 class="modal__title">Tag</h4>

        @*Tag select list*@
        <div class="field">
            <label class="field__label field__label--secondary text--pale-grey" for="tag-accordion-select">Tag:</label>
            <div id="tag-selector" class="accordion__container accordion__container--select-list">
                <input id="tagId-modal-input" class="select-list-input" name="tag-accordion-select" value="" hidden />
                <button class="
                  field__input field__input--secondary field__input--small
            accordion accordion__button accordion accordion__button--select-list" id="tagId-modal-selectList" onclick="selectListButtonClick()" data-selected="">
                </button>

                <div class="accordion__content accordion__content--select-list">
                    <button onclick="selectListOptionClick(this)"
                            class="accordion__content-option tag-id-option"
                            data-value="newTag">
                        New Tag
                    </button>
                    @foreach (SelectListItem selectListItem in tagSelectList)
                    {
                        <button onclick="selectListOptionClick(this)"
                                class="accordion__content-option tag-id-option"
                                data-value="@selectListItem.Value">
                            @selectListItem.Text
                        </button>
                    }
                </div>
            </div>
        </div>

        @*New tag name input field*@
        <div class="field" id="tag-name-input-container">
            <label for="selected-tag-name"
                   class="field__label field__label--secondary text--pale-grey">Tag name:</label>
            <input type="text" name="selected-tag-name" id="tag-name-input" class="field__input field__input--secondary" />
            <p id="tag-name-error-text" class="field__error-text hidden">This field cannot be empty</p>
        </div>

        @*Check-all checkbox*@
        <div class="field__list-item field__list-item--large margin-top--extra-small hidden" id="check-all-status-container">
            <label class="field__label field__label--toggle field__label--checkbox"
                   tabindex="0"
                   role="button">
                <input type="checkbox"
                       class="field__input-toggle field__input-checkbox" name="check-all" id="check-all-status" />
                Check all
            </label>
        </div>

        @*Buttons*@
        <div class="button-group button-group--small align-right margin-top--medium">
            <div class="button-group__item">
                <button id="close-tag-modal-button" class="link">Cancel</button>
            </div>
            <div id="tag-submit-button-container" class="button-group__item hidden">
                <button type="button" id="tag-submit-button" class="button button--small tag-modal-btn" value="Update">Update</button>
            </div>
            <div id="open-delete-tag-modal-btn-container" class="button-group__item hidden">
                <button type="submit" id="open-delete-tag-modal-btn" class="button button--small button--red">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>


@*Delete tag modal*@
<div id="deleteTagModal" class="modal-container delete-tag-modal hidden">
    <div class="modal">

        @*Image*@
        <div class="modal__image-contianer">
            <img class="modal__image"
                 src="/images/svgs/caution.svg"
                 alt="caution_image" />
        </div>

        @*Description*@
        <p class="margin-bottom--medium">Are you sure you want to delete this team. All projects under this team will be deleted. All items assigned this team or subsequent projects will be unnasigned.</p>

        @*Buttons*@
        <div class="button-group button-group--small align-right margin-top--medium">
            <div class="button-group__item">
                <button id="close-delete-tag-modal-button" class="link">Cancel</button>
            </div>
            <div class="button-group__item">
                <button type="button" id="tag-delete-button" class="button button--small button--red tag-modal-btn" value="Delete">Delete</button>
            </div>
        </div>

    </div>
</div>
