@using Research_Repository_Utility;

@model IList<Research_Repository_Models.ViewModels.ThemeVM>

@{
    IEnumerable<SelectListItem> tagSelectList = TempData.Get<IEnumerable<SelectListItem>>("tagSelectList");
}

<div class="container p-3">
    <form method="post" enctype="multipart/form-data">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Theme List</h2>
            </div>
        </div>

        <br /><br />

        @if (Model.Count() > 0)
        {

            <table class="table table-bordered table-striped" style="width: 100%">
                <thead>
                    <tr>
                        <th>Theme Name</th>
                        <th>Theme tags</th>
                        <th>Buttons</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int y = 0; y < Model.Count; y++)
                    {
                        if (Model[y].Theme != null)
                        {
                            <tr class="theme">

                                <td width="50%">
                                    <input asp-for="@Model[y].Theme.Id" class="theme-id" hidden />
                                    <input asp-for="@Model[y].Theme.Name" class="form-control theme-name" />
                                    <span asp-validation-for="@Model[y].Theme.Name" class="text-danger"></span>
                                </td>
                                <td>
                                    @if (Model[y].TagCheckboxes != null)
                                    {
                                        @for (int i = 0; i < Model[y].TagCheckboxes.Count; i++)
                                        {
                                            <div class="tag-checkbox">
                                                <input asp-for="@Model[y].TagCheckboxes[i].Name" hidden class="tag-checkbox-name" />
                                                <label>@Model[y].TagCheckboxes[i].Name</label>
                                                <input asp-for="@Model[y].TagCheckboxes[i].CheckedState" class="tag-checkbox-state" />
                                                <input asp-for="@Model[y].TagCheckboxes[i].Value" hidden class="tag-checkbox-id" />
                                            </div>
                                        }
                                        <span asp-validation-for="@Model[y].TagCheckboxes"></span>
                                    }


                                </td>
                                <td class="text-center">
                                    <div class="w-75 btn-group" role="group">
                                        <button type="submit" asp-action="DeleteTheme" class="btn btn-danger delete-theme" name="deleteId" value="@Model[y].Theme.Id">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>

        }
        else
        {
            <p>No theme exists.</p>
        }
        <input type="submit" class="btn btn-info w-100" name="save" value="Save" asp-action="SaveThemes" />
        <input type="submit" class="btn btn-info w-100" name="add" value="Add" asp-action="AddTheme" />
        @if (Model.Count > 0)
        {
            <input type="submit" class="btn btn-info w-100" id="myTagBtn" name="openModal" value="Add/Edit Tags" />
        }
    </form>
</div>

<div id="myTagModal" class="modal tag-modal" style="display:none;">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="tagModalClose">&times;</span>
        <p>Some text in the Modal..</p>
        <div class="form-group row">
            <div class="col-8 row">
                <select id="tag-select-dropdown" asp-items="@tagSelectList" class="form-control">
                    <option disabled selected value="0">-- Select Tag --</option>
                    <option value="newTag">New Tag</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 row">
                <input id="tag-name-input" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 row">
                <input type="button" id="tag-submit-button" class="btn btn-info w-100 tag-modal-btn" value="Update" />
                <input type="button" id="tag-delete-button" class="btn btn-info w-100 tag-modal-btn" value="Delete" />

            </div>
        </div>
    </div>
</div>
